- @posts.each do |post|
	- if post.image.present?
		= link_to (image_tag post.image.url(:small)), post
	- else
		= link_to (image_tag post.link, class: "style_image"), post
	
	%h2= link_to post.title, post

= link_to "Add New Inspiration", new_post_path
= link_to "Sign Up", new_user_registration_path
= link_to "Sign Out", destroy_user_session_path, method: :delete
= link_to "Log In", new_user_session_path