- if @post.image.present?
	= image_tag @post.image.url(:medium)
- else
	= image_tag @post.link, styles: { medium: "700x500#" }


%h1= @post.title
%p= @post.link
%p= @post.description
%p= @post.user.name

= link_to "Edit", edit_post_path(@post)
= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }
= link_to "Home", root_path